<% provide(:title, "Edit admin") %>
<h1>Update your profile</h1>
<%=render "inputForm"%>
<%if is_admin?(current_user)%>
	<%= render partial: "shared/updatePermissions", locals: {user: @admin, pools: @pools}%>
<%end%>
<%= link_to 'Show', @admin %> |
<%= link_to 'Back', admins_path %>
