<% provide(:title, "Edit admin") %>
<%if is_director%>
	<h1>Update <%=@admin.user.name%></h1>
<%else%>
	<h1>Update your profile</h1>
<%end%>
<%=render partial: "shared/inputForm", locals: {user: @user, user_type: @admin, new: false}%>
<%if is_director && params[:id].to_i != current_user.profile_id%>
	<%= render partial: "shared/updatePermissions", locals: {user: @admin, pools: @pools}%>
<%end%>
<%= link_to 'Profile', @admin, {class: "btn btn-primary"} %>
