<%if signed_in?%>
  <% provide(:title, 'New patient') %>
  <h1>New patient</h1>
<%else%>
  <% provide(:title, 'Sign up') %>
  <h1>Sign up</h1>
<%end%>
<%=render partial: "shared/newUserForm", locals: {user: @user, profile: @patient}%>

