<%provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>

			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>

			</h1>
		</section>
	</aside>
</div>
<%if is_doctor %>


<ul class="list-group">
<li class="list-group-item list-group-item-info boldHead">Current Patients</li>
<% if @patient != nil%>
<% @patients.find_each do |patient|%>
	<li class="list-group-item"><%=link_to patient.user.name, patient_path(patient.id)%></li>
<%end%>
<%end%>
</ul>
<%end%>
<%unless is_patient%>
<%= link_to 'Edit', edit_doctor_path(@doctor),{class: "btn btn-primary"} %>
<%end%>

