// Place all the styles related to the Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#popup {
    height: 60%;
    width: 50%;
    text-align: center;
    vertical-align:middle;
    background-color: cornflowerblue;
    color: white;
    display: none;
    padding-top: 8px;
    position: absolute;
    overflow: auto;
    border: 2px solid;
    border-radius: 1em;
}