// Place all the styles related to the Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#popup {
    height: 60%;
    width: 50%;
    text-align: center;
    vertical-align:middle;
    background-color: cornflowerblue;
    color: white;
    display: none;
    padding-top: 8px;
    position: absolute;
    overflow: auto;
    border: 2px solid;
    border-radius: 1em;
}
.patient{
width:50%; margin-left:49%

}
.other{
width:50%;
}
.header-left{
list-style:none;
margin-left:-40px;
margin-top:-5px;
float:left;
}
.header-right{
list-style:none;
margin-top:-5px;
float:right;

}
.message-history{
	overflow-y:scroll;
	height:30em;
	.panel{
	margin-bottom:5px;
	
	}
}
