<div class= "modal-header">
<h3>Create New Appointment</h3>
</div>
<%=render "form"%>

<style>
.appointment_start_time select{
width: inherit;
display: -webkit-inline-box;
}
.appointment_start_time label{
display: block;
}

</style>
